.task-board {
  background-color: $forest-green;
  color: $white;
  padding: .75rem;
  .columns-container {
    background-color: $royal-purple;
    margin: .75rem .75rem .75rem .75rem;
    padding: .75rem .75rem .75rem .75rem;
    .columns {
      // margin: .75rem .75rem .75rem .75rem;
      // padding: .75rem .75rem .75rem .75rem;
      // background-color: $forest-green;
      // .task-column-container {
      //   margin: .75rem .75rem .75rem .75rem;
      //   display: flex;
      //   flex-direction: column;
      //   background-color:$royal-purple;
      // }
      .task-column-container {
        margin: .5rem .5rem .5rem .5rem;
        padding: .5rem .5rem .5rem .5rem;
        background-color: $royal-purple;
        .task-column-category {
          background-color: $forest-green;
          margin: .5rem .5rem .5rem .5rem;
          padding: .5rem .5rem .5rem .5rem;
          // display: flex;
          // flex-direction: column;
        }
        .task-cell-container {
          background-color: $forest-green;
          margin: .5rem .5rem .5rem .5rem;
          padding: .5rem .5rem .5rem .5rem;
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}

.task-cells-container {
  // margin: .5rem .5rem .5rem .5rem;
  // display: flex;
  // flex-direction: column;
}
