.scrollable-box {
  // box-shadow: 0 0.5em 1em -0.125em rgba(0, 0, 0, 0.1), 0 0px 0 1px rgba(0, 0, 0, 0.02);
  box-shadow: none;
  border: 0.15rem solid $gray-hr;
  overflow-y: auto;
  overflow-x: hidden;
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    background: #252525;
  }
  ::-webkit-scrollbar-thumb {
    background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #333;
  }
}
