.table-container {
  height: 32rem;
  display: flex;
  flex-direction: column;
  > div > table > thead > tr > th {
    white-space: nowrap;
  }
}

.contact-table-container,
.task-table-container {
  max-height: 50%;
}


.contact-row,
.task-row {
  >td {
    text-align: center;
  }
  .id-cell {
    text-align: left;
    cursor: pointer;
  }
  .icon-cell {
    text-align: center;
    cursor: pointer;
  }
}