.contact-card.form-container{
  // height: 32rem;
  // display: flex;
  padding: 1rem .75rem 1rem .75rem;
}
.contact-card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

