.form-container {
  margin: 0rem 0rem 0rem 0rem;
  padding: .15rem 0rem 0rem 0rem;
}

.form-heading {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0rem 0rem .15rem 0rem;
}

.form-hr {
  margin: .5rem 0rem .5rem 0rem;
  padding: 0rem 0rem 0rem 0rem;
  border: .1rem solid $gray-hr;
}

#disabled-input {
  // background-color: whitesmoke;
  // border-color: whitesmoke;
  // box-shadow: none;
  cursor: not-allowed;
}