.main-layout {
  // display: flex;
  // flex: 1 1 auto;
  width: auto;
  
  .minimize-container{
    width: auto;
    .ui-collapse {
      background-color: $royal-purple;
      display: flex;
      flex: 1 1 auto;
      justify-content: space-between;
      padding: .15rem 0rem .25rem 1rem;
      border-radius: $task-border-radius;
      color: white;
      // margin here to offset bulma columns -.75rem default
      // so clickable area
      margin: 0rem 0rem .75rem 0rem;
      cursor: pointer;
      .ui-collapse-icon {
      }
    }
    .main-minimize-content {
      width: auto;
      display: flex;
      flex-direction: row;
      flex-shrink: 1;
      // flex: 1 1 auto;
      // flex-shrink: initial;
      .tabs-column {
        max-width: 25rem;
        section.tabs-section {
          min-width: 20rem;
        }
      }
      .table-column {
        // setting min-width: 0; is crucial for keeping content in boundary
        // https://stackoverflow.com/questions/36247140/why-dont-flex-items-shrink-past-content-size
        min-width: 0;
        flex-shrink: 1;
        // flex: 1 1 auto;
        // max-width: 75rem;
      }
    }

  }
  .minimize-container-vertical {
    display: flex;
    flex-direction: row;
  }
}


