.display-properties.checkbox {
  font-size: .75rem;
  line-height: 1.25rem;
  .checkbox {
  }
}

.taskboard-container{
  display: flex;
}

.board-controls-container {
  padding: 0rem .5rem;
  width: 9rem;
  .box.my-box.board-controls {
    padding: 1rem .25rem;
    box-sizing: inherit;
    display: flex;
    flex-direction: column;
    // for buttons to be aligned
    .field > .control {
      display: flex;
      flex-direction: column;
      .button {
        margin: .25rem 0rem;
      }
    }
  }
}
