.table-container {
  height: 35rem;
  display: flex;
  flex-direction: column;
  > div > div > table > thead > tr > th {
    white-space: nowrap;
  }
}

.contact-table-minimize-container {
  // margin-top: .55rem;
}
.table-minimize-container {
  max-height: 50%;
}

.message-table-container,
.contact-table-container,
.task-table-container {
  height: 100%;
  // max-height: 50%;
  // overflow-y: scroll;
}

.message-row
.contact-row,
.task-row {
  >td {
    text-align: center;
  }
  .id-cell {
    text-align: left;
    cursor: pointer;
  }
  .icon-cell {
    text-align: center;
    cursor: pointer;
  }
}