$blue:    #007bff;
$indigo:  #6610f2;
$purple:  #6f42c1;
$royal-purple:  #562088;
$pink:    #e83e8c;
$red:     #dc3545;
$orange:  #BD5D38;
$yellow:  #ffc107;
$kelly-green:   #4CBB17;
$terminal-green:   #39ff14;
$green:   #28a745;
$forest-green:   #0B6623;
$olive-green:   #33691e;
$sacramento-green:   #043927;
$teal:    #20c997;
$cyan:    #17a2b8;


// default
// $section-padding: 3.5rem 1.5rem;
$section-padding: 3.5rem 1.5rem;
